{% load static %}
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
<meta name="description" content="We are a team of Experienced Professionals ready to inspire hope and contribute to your health and well-being by providing the best care to every patient through integrated clinical practice,home-based care, education and research in the comfort of your Home.">
<meta name="keywords" content="Home Based Care,Drug Administartion, Patient Sanitation,First Aid" />
<meta name="author" content="Thembo Jonathan">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<link rel="shortcut icon" href="{% static 'images/LOGO.png' %}">
<link rel="icon" type="image/x-icon" href="{% static 'images/LOGO.png' %}" />
</head>