{% load static %}

 <!-- START  THE NAVBAR SECTION  -->
     <nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'base:index' %}">
              <img src="{% static 'images/logo.png' %}" alt="logo image">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll ms-auto" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'base:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'base:index' %}#testimonials">Testimonials</a>
              </li>
               <li class="nav-item">
                <a class="nav-link " href="{% url 'base:index' %}#services" tabindex="-1" aria-disabled="true">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'base:about' %}" tabindex="-1" aria-disabled="true">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'base:contact' %}" tabindex="-1" aria-disabled="true">Get In Touch</a>
              </li>
            </ul>
            {% comment %} <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success bg-light" type="submit">Search</button>
            </form> {% endcomment %}
            <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-sm-flex">
              <div class="contact-box__icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call"  viewBox="0 0 24 24" stroke-width="1"  fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                  <path d="M15 7a2 2 0 0 1 2 2" />
                  <path d="M15 3a6 6 0 0 1 6 6" />
                </svg>
              </div>
              <div class="contact-box__info">
                <a href="" class="contact-box__info--title">+256 759056916,+256 788380605</a>
                <p class="contact-box__info--subtitle text-white">NURSE, JOAKIM & BRIAN</p>
                <p class="contact-box__info--subtitle text-white">Mon-Fri 8am-6pm</p>
              </div>
            </div>
          </div>
        </div>
      </nav>


<!--START SECTION 8- GET STARTED-->
